@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter";
}

.first-layer {
    width: 100%;
    height: 670px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("./images/bg.png"), lightgray 0px 0px / 100% 125.262% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.navbar a img {
    position: absolute;
    top: -15px;
    width: 270px;
    height: 101px;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 70px;
}

.hamburger {
    display: none;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-item.active {
    color: #482ff7;
}

.nav-link {
    font-family: "Inter";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.nav-btn {
    width: 195px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.70);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 0px 33px 18px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.f1-heading {
    left: 52px;
    top: 138px;
    position: relative;
    font-size: 51px;
    width: 532px;
    font-family: "Inder";
    color: rgba(255, 255, 255, 1);
}

.first-layer p {
    position: relative;
    left: 56px;
    top: 124px;
    margin-top: 37px;
    font-size: 19px;
    width: 607px;
    font-family: "Inter";
    color: rgba(255, 255, 255, 0.5);
}

.order-btn {
    left: 55px;
    top: 150px;
    position: relative;
    width: 244px;
    height: 63px;
    font-family: "Inter";
    font-weight: Bold;
    color: rgba(142, 116, 163, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 17px;
    font-size: 30px;
}

.first-layer p span img {
    position: relative;
    top: 10px;
    height: 31px;
}

.first-layer p span {
    color: rgba(255, 255, 255, 1);
}





.second-layer {
    height: 370px;
    width: 100%;

}

.second-layer h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 66px;
    font-family: "Inter";
    font-weight: Semi Bold;
    color: rgba(0, 0, 0, 1);
}

.features {
    display: flex;
    position: relative;
    top: 70px;
}

.feature-element {
    margin: 50px;
    padding: 6px;
    height: 90px;
    width: 290px;
}

.feature-element .ico {
    height: 72px;
    width: 65px;
}

.feature-element p {
    left: 73px;
    top: -58px;
    position: relative;
    font-size: 20px;
    width: 197px;
    font-family: "Inder";
    color: rgba(0, 0, 0, 1);
}

.seperator {
    height: 1px;
    position: relative;
    top: 119px;
    width: 100%;
    background-color: #857979;
}

.third-layer {
    height: 667px;
}

.third-layer .group img {
    position: relative;
    width: 445px;
    height: 407px;
    top: 135px;
    left: 10%;
}

.third-layer .group h1 {
    font-size: 39px;
    width: 479px;
    font-family: "Inder";
    color: rgba(0, 0, 0, 1);
}

.third-layer .group p {
    width: 480px;
    font-family: "Inter";
    font-size: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.third-layer .group .txt {
    width: 500px;
    right: 18%;
    position: absolute;
    top: 227px;
}

.third-layer .group {
    position: relative;
}



.fourth-layer {
    width: 100%;
    height: 838px;
    background-color: rgba(242, 242, 242, 0.5);
}

.fourth-layer .headings {
    position: relative;
    top: 130px;
}

.fourth-layer .headings h1 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-family: "Inter";
    font-weight: Semi Bold;
    color: rgba(0, 0, 0, 1);
}

.fourth-layer .headings p {
    font-size: 17px;
    width: 100%;
    text-align: center;
    font-family: "Inter";
    color: rgba(118, 118, 118, 1);
    margin-top: 15px;
}

.fourth-layer .headings p span {
    color: rgba(0, 0, 0, 1);
}


.grid {
    display: grid;
    width: 124rem;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    top: 194px;
    position: relative;
    left: 9%;
}

@media (max-width: 60em) {
    .grid {
        grid-gap: 3rem;
    }
}

.grid__item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.card__content {
    padding: 3rem 3rem;
}

.card__header {
    font-size: 18px;
    width: 311px;
    font-family: "Inder";
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1.5rem;
}

.card__text {
    letter-spacing: 0.1rem;
    line-height: 1.7;
    font-size: 15px;
    width: 330px;
    font-family: "Inter";
    color: rgba(118, 118, 118, 1);
    margin-bottom: 2.5rem;
}



.fifth-layer {
    height: 250px;
    background: url("./images/f1-banner.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.fifth-layer h1 {
    font-size: 51px;
    width: 921px;
    font-family: "Inder";
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 50px;
    left: 90px;
}

.fifth-layer p {
    font-size: 18px;
    position: relative;
    left: 90px;
    top: 50px;
    width: 662px;
    font-family: "Inter";
    color: rgb(170, 170, 170);
    margin-top: 20px;
}

.fifth-order-btn {
    right: -80%;
    top: -10px;
    position: relative;
    width: 244px;
    height: 63px;
    font-family: "Inter";
    font-weight: Bold;
    color: rgb(170, 170, 170);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 17px;
    font-size: 30px;
}




.sixth-layer {
    height: 600px;
    background: url("./images/f2-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sixth-layer h1 {
    font-size: 51px;
    width: 921px;
    font-family: "Inder";
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 190px;
    left: 90px;
}

.sixth-layer p {
    font-size: 18px;
    position: relative;
    left: 90px;
    top: 200px;
    width: 662px;
    font-family: "Inter";
    color: rgb(170, 170, 170);
    margin-top: 20px;
}

.sixth-watch-demo {
    right: -6%;
    top: 250px;
    position: relative;
    width: 244px;
    height: 63px;
    font-family: "Inter";
    font-weight: Bold;
    color: #331F46;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 17px;
    font-size: 30px;
}



.seventh-layer {
    height: 894px;
}

.seventh-layer .headings {
    position: relative;
    top: 130px;
}

.seventh-layer .headings h1 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-family: "Inter";
    font-weight: Semi Bold;
    color: rgba(0, 0, 0, 1);
}

.seventh-layer .headings p {
    font-size: 17px;
    width: 100%;
    text-align: center;
    font-family: "Inter";
    color: rgba(118, 118, 118, 1);
    margin-top: 15px;
}

.seventh-layer .headings p span {
    color: rgba(0, 0, 0, 1);
}


.seventh-layer .grid {
    display: grid;
    width: 129rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    top: 194px;
    position: relative;
    left: 9%;
}

@media (max-width: 60em) {
    .seventh-layer .grid {
        grid-gap: 3rem;
    }
}

.seventh-layer .grid__item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.seventh-layer .grid__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.seventh-layer .card__img {
    display: block;
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.seventh-layer .card__content {
    padding: 3rem 3rem;
}

.seventh-layer .card__header {
    font-size: 18px;
    width: 311px;
    font-family: "Inder";
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1.5rem;
}

.seventh-layer .card__text {
    letter-spacing: 0.1rem;
    line-height: 1.7;
    font-size: 15px;
    width: 330px;
    font-family: "Inter";
    color: rgba(118, 118, 118, 1);
    margin-bottom: 2.5rem;
}



.eighth-layer {
    width: 100%;
    height: 610px;
    background: url("./images/f3-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.eighth-layer .left {
    position: absolute;
}

.eighth-layer .left .ico {
    width: 104px;
    height: 129px;
    position: relative;
    top: 50px;
    left: 50px;
}

.eighth-layer .left h1 {
    color: #FFF;
    font-family: "Inder";
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 58px;
}

.eighth-layer .left p {
    width: 450px;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Inter";
    font-size: 22px;
    position: relative;
    top: 67px;
    left: 60px;
}

.eighth-layer .left button {
    width: 196px;
    height: 55px;
    border-radius: 7px;
    background: #14A800;
    color: #FFF;
    font-family: "Inder";
    font-size: 25px;
    border: none;
    position: relative;
    top: 115px;
    left: 60px;
}


.eighth-layer .right {
    position: absolute;
}

.eighth-layer .right .ico {
    width: 104px;
    height: 129px;
    position: relative;
    top: 50px;
    left: 870px;
}

.eighth-layer .right h1 {
    color: #FFF;
    font-family: "Inder";
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 870px;
}

.eighth-layer .right p {
    width: 450px;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Inter";
    font-size: 22px;
    position: relative;
    top: 67px;
    left: 870px;
}

.eighth-layer .right button {
    width: 196px;
    height: 55px;
    border-radius: 7px;
    background: #2563EB;
    color: #FFF;
    font-family: "Inder";
    font-size: 25px;
    border: none;
    position: relative;
    top: 115px;
    left: 870px;
}



.footer {
    height: 445px;
    position: relative;
}

.footer .content {
    position: relative;
    top: 65px;
    left: 83px;
    height: 323px;
    width: 90%;
}

.footer .brand,
.footer .contacts,
.footer .links,
.footer .legals {
    position: absolute;
}

.footer .brand p {
    color: rgba(0, 0, 0, 0.65);
    font-family: Inter;
    font-size: 18px;
    width: 353px;
    position: relative;
    top: 22px;
    left: 0;
}

.footer .brand h1 {
    color: #000;
    font-family: "Inder";
    font-size: 18px;
    position: relative;
    top: 66px;
}

.footer .contacts {
    left: 34%;
    top: 30px;
}

.footer .contacts h1 {
    color: #000;
    font-family: "Inder";
    font-size: 23px;
}

.footer .contacts a {
    color: rgba(0, 0, 0, 0.65);
    font-family: "Inter";
    font-size: 18px;
    top: 65px;
    position: relative;
    text-decoration: none;
}

.footer .links {
    left: 61%;
    top: 30px;
}

.footer .links h1 {
    color: #000;
    font-family: "Inder";
    font-size: 23px;
}

.footer .links a {
    color: rgba(0, 0, 0, 0.65);
    font-family: "Inter";
    font-size: 18px;
    top: 65px;
    position: relative;
    text-decoration: none;
}

.footer .legals {
    left: 77%;
    top: 30px;
}

.footer .legals h1 {
    color: #000;
    font-family: "Inder";
    font-size: 23px;
}

.footer .legals a {
    color: rgba(0, 0, 0, 0.65);
    font-family: "Inter";
    font-size: 18px;
    top: 65px;
    position: relative;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;
        max-width: 100%;
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}